<div class="w-full h-screen">
    <div class="">
        <div class="px-4 pb-3 border-b-[1px] border-slate-200">
            <span class="text-2xl font-semibold font-sans">Add Subject</span>
        </div>
        <div class="py-2 px-4 flex justify-start items-center gap-2 text-gray-400 antialiased">
            <a routerLink="/" class="hover:font-medium hover:no-underline hover:text-gray-800">
                <i class='bx bx-home mr-2'></i>
                <span>Home</span>
            </a> /
            <span>Subjects</span> /
            <span>Manage Subjects</span>
        </div>
    </div>
    <div class="bg-gray-100 p-4 h-screen">
        <div class="flex justify-center items-center">
            <div class="w-2/3 rounded-md bg-white shadow-sm py-4 px-3">
                <h4 class="text-base leading-6 font-medium">Create Subject</h4>
                <form>
                    <div>
                        <label class="form-label font-medium">Subject Name</label>
                        <input type="text" class="form-control" required aria-describedby="fieldhints">
                        <small id="fieldhints" class="form-text text-muted">
                            Eg- Database, Networking, MIS
                        </small>
                    </div>



                    <div class="mt-4 flex justify-between items-center">
                        <button class="btn btn-outline-success px-4 text-sm rounded-sm  font-medium">Submit</button>
                        <button class="btn btn-outline-primary px-4 text-sm rounded-sm  font-medium">Manage
                            Classes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>