<div class="w-full h-screen">
    <div class="">
        <div class="px-4 pb-3 border-b-[1px] border-slate-200">
            <span class="text-2xl font-semibold">Manage Classes</span>
        </div>
        <div class="py-2 px-4 flex justify-start items-center gap-2 text-gray-400 antialiased">
            <a routerLink="/" class="hover:font-medium hover:no-underline hover:text-gray-800">
                <i class='bx bx-home mr-2'></i>
                <span>Home</span>
            </a> /
            <span>Exams</span> /
            <span>Manage Exams</span>
        </div>
    </div>
    <div class="bg-gray-100 p-4 h-screen">
        <div class="flex justify-center items-center">
            <div class="w-full rounded-md bg-white shadow-sm py-4 px-3">
                <h4 class="text-base leading-6 font-medium">View Exam Info</h4>
                <button routerLink="/add-class"
                    class="btn btn-outline-success px-4 text-sm rounded-sm my-3 font-medium">Create New
                    Exam</button>
                <div>
                    <div class="flex justify-between items-center">
                        <div class="flex justify-start items-center gap-2 text-sm">
                            <span>Show</span>
                            <select class="form-select px-2 py-1 w-20">
                                <option value="">1</option>
                                <option value="">1</option>
                                <option value="">1</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div class="flex justify-start items-center gap-2 text-sm">
                            <span>Search:</span>
                            <input type="text" class="form-control px-2 py-1">
                        </div>
                    </div>
                    <div class="mt-3">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr class="">
                                    <th>#</th>
                                    <th>Exam Name</th>
                                    <th>Creation Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of exams ; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{c.examname | uppercase}}</td>
                                    <td>12/04/2023</td>
                                    <td class="text-center space-x-3">
                                        <i (click)="onEditClass(c)"
                                            class='bx bx-edit text-indigo-600 text-xl cursor-pointer'></i>
                                        <i (click)="delete(c)"
                                            class='bx bx-trash text-red-700 text-xl cursor-pointer font-semibold'></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center mt-2">
                            <span>Pagination</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>