<div class="">
    <div class="">
        <div class="px-4 pb-3 border-b-[1px] border-slate-200">
            <span class="text-2xl font-semibold">Add Student</span>
        </div>
        <div class="py-2 px-4 flex justify-start items-center gap-2 text-gray-400 antialiased">
            <a routerLink="/" class="hover:font-medium hover:no-underline hover:text-gray-800">
                <i class='bx bx-home mr-2'></i>
                <span>Home</span>
            </a> /
            <span>Add Marks</span>
        </div>
    </div>
    <div class="bg-gray-100 p-4 h-screen">
        <div class="flex justify-center items-center">
            <div class="w-10/12 rounded-md bg-white shadow-sm py-4 px-3">
                <h4 class="text-2xl leading-6 font-medium mb-5">Add Marks</h4>
                <div>
                    <form>
                        <div class="grid grid-cols-3 gap-3 mb-5">
                            <div class="">
                                <label class="mb-2" for="">Teacher Name</label>
                                <select class="form-select">
                                    <option value="">Teacher Name</option>
                                </select>
                            </div>


                        </div>
                        <div class="border-b-[1px] w-full mt-5 mb-3"></div>
                        <h4 class="text-2xl leading-6 font-medium mb-5">Students</h4>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>