<div class="mt-5">
    <div class="">
        <div class="px-4 pb-3 border-b-[1px] border-slate-200">
            <span class="text-2xl font-semibold">Student</span>
        </div>
    </div>
    <div class=" border-b-[1px] border-slate-200 py-4 px-4">
        <div class="grid grid-cols-2 gap-3">
           <div>Student Name</div>
           <div>Student Name</div>
           <div>Student Name</div>
           <div>Student Name</div>
        </div>
    </div>
    <div class=" py-2 px-4 h-screen">
        <h4 class="text-2xl leading-6 font-medium my-3 text-center">Add Marks</h4>
        <div>
            <form>
                <div class="grid grid-cols-2 gap-3 mb-5 w-2/3 mx-auto">

                    <div class="">
                        <label class="mb-2" for="">Attendance</label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="">
                        <label class="mb-2" for="">Tutorial</label>
                        <input type="number" class="form-control">

                    </div>
                    <div class="">
                        <label class="mb-2" for="">Assignment</label>
                        <input type="number" class="form-control">

                    </div>
                    <div class="">
                        <label class="mb-2" for="">Written</label>
                        <input type="number" class="form-control">

                    </div>
                </div>
                <div class="mt-4 flex justify-center items-center gap-3">
                    <div class="flex gap-3">
                        <button type="submit" 
                            class="btn btn-outline-success px-4 text-md rounded-sm font-medium">Save</button>
                        <button 
                            class="btn btn-outline-warning px-4 text-md rounded-sm font-medium">Cancel</button>
                    </div>

                    <button routerLink="/manage-class"
                        class="btn btn-outline-primary px-4 text-md rounded-sm font-medium">
                        Manage Classes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>