<div class="w-full h-screen">
    <div class="">
        <div class="px-4 pb-3 border-b-[1px] border-slate-200">
            <span class="text-2xl font-semibold">Add Student</span>
        </div>
        <div class="py-2 px-4 flex justify-start items-center gap-2 text-gray-400 antialiased">
            <a routerLink="/" class="hover:font-medium hover:no-underline hover:text-gray-800">
                <i class='bx bx-home mr-2'></i>
                <span>Home</span>
            </a> /
            <span>Students Admission</span>
        </div>
    </div>
    <div class="bg-gray-100 p-4 h-screen">
        <div class="flex justify-center items-center">
            <div class="w-3/4 rounded-md bg-white shadow-sm py-4 px-3">
                <h4 class="text-2xl leading-6 font-medium mb-5">Student Admission Info</h4>
                <form [formGroup]="addForm" (ngSubmit)="save()">

                    <div class="flex justify-between mx-auto gap-5">

                        <div class="w-1/2">
                            <div class="mb-3">
                                <label class="form-label font-medium">Fullname</label>
                                <input type="text" class="form-control" required formControlName="fullname">
                            </div>

                            <div class="mb-3">
                                <label class="form-label font-medium">Email</label>
                                <input type="email" class="form-control" required formControlName="email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-medium">Date of Birth</label>
                                <input type="date" class="form-control" required formControlName="dob">
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-medium">Mobile</label>
                                <input type="number" class="form-control" required formControlName="mobile">
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-medium">Session</label>
                                <select class="form-select" formControlName="sessionId">
                                    <option [value]="d.id" *ngFor="let d of sessions">{{d.year}}
                                    </option>

                                </select>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="mb-3">
                                <label class="form-label font-medium">Department</label>
                                <select class="form-select" formControlName="departmentId">
                                    <option [value]="d.id" *ngFor="let d of departments">{{d.departmentname}}</option>

                                </select>
                            </div>
                            <div class="mb-3  form-group">
                                <label class="form-label font-medium">Class</label>
                                <select class="form-select" formControlName="classId">
                                    <option [value]="c.id" *ngFor="let c of classes">{{c.classname}}</option>
                                </select>
                            </div>
                            <div class="mt-4">
                                <label class="form-label font-medium mr-5">Gender</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="male" checked
                                        formControlName="gender">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" value="female"
                                        formControlName="gender">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Female
                                    </label>
                                </div>

                            </div>
                            <div class="mb-3">
                                <label class="form-label font-medium">Address</label>
                                <input type="text" class="form-control" required formControlName="address">
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-medium">Status</label>
                                <select class="form-select" formControlName="status">
                                    <option value="">Please select status</option>
                                    <option [value]="'active'">Active
                                    </option>
                                    <option [value]="'inactive'">
                                        Inactive</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 flex justify-between items-center">
                        <div class="flex gap-3">
                            <button type="submit" [disabled]="!this.addForm.valid"
                                class="btn btn-outline-success px-4 text-sm rounded-sm font-medium">{{this.editMode ?
                                'Update' : 'Save Student'}}
                            </button>
                            <button (click)="cancel()"
                                class="btn btn-outline-primary px-4 text-sm rounded-sm font-medium">
                                Cancel
                            </button>

                        </div>
                        <button routerLink="/manage-students"
                            class="btn btn-outline-primary px-4 text-sm rounded-sm font-medium">Manage
                            Students</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>