<div class="w-full h-screen">
    <div class="px-4 pb-3">
        <span class="text-2xl font-semibold">Dashboard</span>
    </div>
    <div class="bg-gray-100 h-screen w-full py-4 px-3">
        <div class="grid grid-cols-4 grid-rows-5 gap-4">
            <div
                class="bg-gradient-to-r from-red-900 to-red-500 rounded-md shadow p-4 text-white font-medium text-right">
                <span class="text-xl" *ngIf="(std$ | async) as student">{{student.length}}</span>
                <h4>Registered Student</h4>
            </div>
            <div
                class="bg-gradient-to-r from-teal-900 to-teal-500 rounded-md shadow p-4 text-white font-medium text-right">
                <span class="text-xl" *ngIf="(dept$ | async) as dept">{{dept.length}}</span>
                <h4>Department Listed</h4>
            </div>
            <div
                class="bg-gradient-to-r from-yellow-900 to-yellow-500 rounded-md shadow p-4 text-white font-medium text-right">
                <span class="text-xl" *ngIf="(class$ | async) as class">{{class.length}}</span>
                <h4>Total Classes</h4>
            </div>
            <div
                class="bg-gradient-to-r from-sky-900 to-sky-500 rounded-md shadow p-4 text-white font-medium text-right">
                <span class="text-xl" *ngIf="(sub$ | async) as sub">{{sub.length}}</span>
                <h4>Total Subjects</h4>
            </div>
            <a href=""
                class="bg-gradient-to-r from-purple-900 to-rose-500  rounded-md shadow p-4 text-white font-medium text-right hover:bg-gray-800">
                <span class="text-xl">02</span>
                <h4>Declared Results</h4>
            </a>
        </div>
    </div>
</div>